.main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}

.cardPost {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

.cardPost h2{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #D2DAF5;

    font-size: 3rem;
    margin-bottom: 5px;
}

.line {
    height: 2px;
    background-color: #3E445B;
}

.CardBodyPost {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.Formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fields {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #D2DAF5;

    font-family: Poppins;
}

.form {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

.form {
    height: 45px;
}



.btnPost{
    margin-top: 30px;
    text-align: center;

}

.btnPost button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;

    padding: 5px 50px;
    color: #fff;
    background-color: #3DECB1;

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}

 .error {
    color: rgb(240, 47, 47);
} 